.container {
    display: flex;
    flex-direction: column;
    background-color: #f7f8f9;
    height: 100vh;
}

.profileForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formFields {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 24px 0 24px 0;
}

.userFields {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    padding: 16px;

    .namesContainer {
        display: flex;
        justify-content: space-between;
    }

    .firstName,
    .lastName {
        width: calc(50% - 5px);
    }
}

.companyFields {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    margin-top: 24px;
    padding: 16px;

    .countries {
        display: flex;
        justify-content: space-between;

        .legalRepresentativeCountryOfResidence,
        .legalRepresentativeNationality {
            width: calc(50% - 5px);
        }
    }
}

.submitContainer {
    display: flex;
    margin-top: 24px;
    justify-content: flex-end;

    .submit {
        color: white;
    }
}
