<div class="container">

  <form class="profileForm" [formGroup]="userInformationForm" (ngSubmit)="onSubmit(userInformationForm)">

    <div class="formFields">

      <div class="userFields">

        <h2>Représentant de l'entreprise</h2>

        <div class="namesContainer">

          <mat-form-field class="firstName" appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput type="text" formControlName="LegalRepresentativeFirstName">
          </mat-form-field>

          <mat-form-field class="lastName" appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput type="text" formControlName="LegalRepresentativeLastName">
          </mat-form-field>

        </div>

        <mat-form-field class="email" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="Email">
        </mat-form-field>

      </div>

      <div class="companyFields">

        <h2>Informations de l'entreprise </h2>

        <mat-form-field class="legalPersonType">
          <mat-label>Entité légal</mat-label>
          <mat-select formControlName="LegalPersonType">
            <mat-option *ngFor="let lpt of legalPersonTypes" [value]="lpt.type">
              {{lpt.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="companyName" appearance="outline">
          <mat-label>Nom de la société</mat-label>
          <input matInput type="text" formControlName="Name">
        </mat-form-field>

        <mat-form-field class="creationDate">
          <mat-label>Date de création</mat-label>
          <!--<input formControlName="LegalRepresentativeBirthday" matInput [matDatepicker]="myPicker"
            placeholder="JJ/MM/YYYY">-->
          <input matInput type="text" formControlName="LegalRepresentativeBirthday">
<!--          <mat-datepicker-toggle matSuffix [for]="myPicker"></mat-datepicker-toggle>
          <mat-datepicker #myPicker></mat-datepicker>-->
        </mat-form-field>

        <div class="countries">

          <mat-form-field class="legalRepresentativeCountryOfResidence">
            <mat-label>Lieu de résidence</mat-label>
            <mat-select formControlName="LegalRepresentativeCountryOfResidence">
              <mat-option *ngFor="let ci of countryIsos" [value]="ci.value">
                {{ci.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="legalRepresentativeNationality">
            <mat-label>Nationalité</mat-label>
            <mat-select formControlName="LegalRepresentativeNationality">
              <mat-option *ngFor="let ci of countryIsos" [value]="ci.value">
                {{ci.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="submitContainer">

        <button mat-raised-button color="primary" class="submit" type="submit"
          [disabled]="!userInformationForm.valid">Validate</button>

      </div>

    </div>

  </form>
</div>
