<div class="container">

  <div class="imageContainer">
    <img class="productCardImage"
       src='{{ productData.imageUrl }}'
       alt="Image not found"
       onerror="this.onerror=null;this.src='assets/images/potaras.png';">
  </div>

     <div class="productCardName">{{ productData.name }}</div>

     <div class="footerContainer">
       <div class="productCardPrice">{{ productData.price | currency:'EUR' : 'symbol' :'1.2-2' }}</div>
       <button class="productCardAddButton" (click)="addProduct($event)">Ajouter</button>
     </div>
</div>

