.container{
  height: 360px;
  width: 290px;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.imageContainer{
  padding: 24px 0;
  display: flex;
  justify-content: center;
}

.productCardImage{
  width: 167px;
  height: 167px;
}

.productCardName{
  padding-left: 24px;
}

.footerContainer{
  width: calc(100% - 48px);
  display: flex;
  padding: 0 24px;
  justify-content: space-between;
  position: absolute;
  bottom: 18px;

  .productCardAddButton{
    border: none;
    background-color: transparent;
    color: mediumseagreen;
  }
}
