<div class="container">
  <a class="homeLink" routerLink="">
    <mat-icon class="homeLinkIcon" svgIcon="logo"></mat-icon>
  </a>
  <a class="productLink" routerLink="products">Products</a>

  <div *ngIf="(accountService.currentUser$ | async) == null">
    <a class="logInLink" routerLink="login">Se connecter</a>
    <a mat-flat-button routerLink="signup" class="signUpLink" color="primary">S'inscrire</a>

  </div>

  <div class="userConnectedContainer" *ngIf="(accountService.currentUser$ | async) !== null">
    <a class="profileLink" routerLink="account/profile">
      <span class="profileLinkValue"> {{ (accountService.currentUser$ | async).firstName }} </span>
      <mat-icon class="profileLinkIcon" svgIcon="profile"></mat-icon>
    </a>

    <a class="basketLink" routerLink="basket/summary">
      <mat-icon class="basketLinkIcon"
                matBadgeColor="warn"
                matBadge="{{ (basketService.basket$ | async)?.totalProductsQuantity }}"
                matBadgePosition="above after"
                svgIcon="basket">
      </mat-icon>
    </a>
  </div>
</div>
