:host{
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0 32px 0;
  width: 80%;
}

.homeLinkIcon{
  width: 128px;
}

.productLink{
  color: black;

  &:hover{
    color: mediumseagreen;
  }
}

.logInLink{
  color: black;

  &:hover {
    color: mediumseagreen;
  }
}

.signUpLink{
  margin-left: 48px;
  color: white;

  &:hover{
    background-color: darkgreen;
  }
}

.userConnectedContainer{
  display: flex;
}

.profileLink{
  display: flex;
  align-items: center;
  color: black;

  &:hover{
    color: mediumseagreen;
    fill: mediumseagreen;
  }

  .profileLinkIcon{
    margin-left: 8px;
    margin-right: 48px;
    width: 32px;
    height: 32px;
  }
}

.basketLink{
  height: 32px;
  color: black;

  .basketLinkIcon{
    width: 32px;
    height: 32px;

    &:hover{
      fill: mediumseagreen;
    }
  }
}
