<div class="container">

  <div class="cardContainer">
    <div class="addressTitle"> Adresse de livraison </div>

    <div class="deliveryAddressContainer" (click)="openDialog(addressTypeEnum.delivery)">
      <app-address-element [address]="selectedDeliveryAddressValue"></app-address-element>
      <button mat-button color="primary">Modifier</button>
    </div>

    <mat-checkbox class="showBillingAddressLabel" color="primary" (change)="setShowBillingAddress()">Utiliser une adresse de facturation différente</mat-checkbox>

    <div *ngIf="showBillingAddress" >
      <div class="addressTitle"> Adresse de facturation </div>
      <div class="billingAddressContainer" (click)="openDialog(addressTypeEnum.billing)">
        <app-address-element [address]="selectedBillingAddressValue"></app-address-element>
        <button mat-button color="primary">Modifier</button>
      </div>
    </div>
  </div>

<app-order-summary-info class="summaryInfo"
                          *ngIf="basket"
                          [totalPrice]="basket.totalPrice"
                          [lastStep]="false"
                          (continueProcess)="sendAddress()">
  </app-order-summary-info>
</div>

