.cityPostalCodeContainer{
  display: flex;
  justify-content: space-between;
}

.deliveryElement{
  display: flex;
}

.cardContainer{
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: white;
  padding: 12px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f8f9;
  height: 100vh;
}

.addressTitle{
  padding: 14px 16px;
}

.deliveryElement{
  padding-top: 24px;
}

.showBillingAddressLabel{
  padding: 14px 16px;
}

.billingElement{
  display: flex;
}

.addressFormContainer{
  background-color: white;
  height: fit-content;
  padding: 12px;
  width: 40%;
}

.address{
  width: 100%;
}

.postalCode, .city{
  width: 49%
}

.addressForm{
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
}

.summaryInfo{
  margin-left: 50px;
}

.deliveryAddressContainer{
  display: flex;
  padding: 12px 32px;
  box-sizing: border-box;
  justify-content: space-between;
  border: 2px solid mediumseagreen;
  border-radius: 15px;
  margin: 0 16px;
}

.billingAddressContainer{
  display: flex;
  padding: 12px 32px;
  box-sizing: border-box;
  justify-content: space-between;
  border: 2px solid mediumseagreen;
  border-radius: 15px;
  margin: 0 16px 16px 16px;
}
