.summaryContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 212px;
  padding: 24px;
  height: 212px;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  box-sizing: border-box;
}

.summaryOrderBtn{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 48px;
  width: 100%;

  color: white;
  border-radius: 5px;
}

.summaryTotalPriceContainer{
  display: flex;
  justify-content: space-between;
}
