<div class="summaryContainer">
  <span class="summaryTitle">Récapitulatif</span>

  <div class="summaryTotalPriceContainer">
    <span class="summaryTotalPriceLabel">Total</span>
    <span *ngIf="totalPrice" class="summaryTotalPriceValue">{{ totalPrice / 100 | currency:'EUR' : 'symbol' :'1.2-2' }}</span>
  </div>

  <a *ngIf="!lastStep" mat-flat-button class="summaryOrderBtn" color="primary" (click)="onNavigate()">Continuer</a>
</div>
