<div class="sideMenu">

  <div class="accountContainer">
    <mat-icon svgIcon="account"></mat-icon>
    <span>Votre compte</span>
  </div>

  <span routerLink="/account/profile">Editez votre compte</span>
  <span class="orderHistoryBtn" routerLink="/account/order/history">Historique de commande</span>

  <button class="disconnectBtn" mat-stroked-button color="primary" (click)="disconnect()">
    <mat-icon svgIcon="disconnect"></mat-icon>
    <span>Déconnexion</span>
  </button>

</div>

<router-outlet></router-outlet>
