:host{
  display: flex;
  justify-content: center;
  background-color: #f7f8f9;;
  height: 100vh;
}

.sideMenu{
  position: relative;
  height: 300px;
  width: 200px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  justify-content: space-around;
  background-color: #eceff1;
  border-radius: 10px;
  margin-right: 64px;
  margin-top: 64px;
}
