<div class="container" *ngIf="showSelectCreditCard">

  <span class="cardElementListTitle">Sélectionner une carte de crédit</span>

  <div class="cardElementListContainer">
    <cdk-virtual-scroll-viewport itemSize="50" class="cardElementList">
      <div class="cardElement cardElement{{i}}" *cdkVirtualFor="let card of data.cards; index as i">
        <app-registered-card class="{{'registeredCard' + i}} registeredCard"
                             [card]="card"
                             (click)="setSelectCard(i, card)"
                             [ngClass]="{ 'selected' : selectedCard === i}">
        </app-registered-card>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <div class="buttonsContainer">
    <button mat-button color="primary" (click)="setShowSelectCreditCard()"> Ajouter une nouvelle carde crédit </button>
    <button mat-flat-button id="validateBtn" color="primary" class="validateBtn" [mat-dialog-close]="{selectedCardValue: selectedCardValue, selectedCard: selectedCard, event: 'select'}"> Valider </button>
  </div>

</div>

<div class="container" *ngIf="!showSelectCreditCard">
  <div>Enregistrer une nouvelle carte</div>

  <form id="cardForm" class="cardForm" [formGroup]="cardForm" (ngSubmit)="onSubmit(cardForm)">

    <mat-form-field class="cardNumber" appearance="outline">
      <mat-label>Numéro de carte</mat-label>
      <input matInput type="text" formControlName="cardNumber" placeholder="0000 0000 0000 0000">
    </mat-form-field>


    <div class="expirationDateAndCVVContainer">

      <div class="date">
        <mat-form-field class="expirationDateMonth" appearance="outline">
          <mat-label>Mois</mat-label>
          <mat-select formControlName="cardExpirationMonthDate">
            <mat-option *ngFor="let month of months" [value]="month">
              {{month.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="expirationDateYear" appearance="outline">
          <mat-label>Année</mat-label>
          <mat-select formControlName="cardExpirationYearDate">
            <mat-option *ngFor="let year of years" [value]="year">
              {{year.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field class="cvv" appearance="outline">
        <mat-label>CVV</mat-label>
        <input matInput type="text" formControlName="cardCvx" placeholder="000">
      </mat-form-field>

    </div>
  </form>

  <div class="buttonsContainer">
    <button mat-button color="primary" (click)="setShowSelectCreditCard()"> Sélectionner une carte de crédit </button>
    <button mat-raised-button color="primary" class="validateBtn" type="submit" form="cardForm">Valider</button>
  </div>

</div>
