.cardElementList {
  height: 250px;
  padding-bottom: 14px;
}

.registeredCard{
  padding: 12px 32px;
  box-sizing: border-box;

  &.selected{
    border: 2px solid mediumseagreen;
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 15px;
  }
}

.buttonsContainer{
  display: flex;
  justify-content: flex-end;

  .validateBtn{
    margin-left: 32px;
  }
}

.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardElement{
  display: flex;
  padding: 18px 32px;
  box-sizing: border-box;
  justify-content: center;
  border-radius: 15px;
  margin: 0 16px;
  align-items: center;
}

.buttonsContainer{
  display: flex;
  justify-content: flex-end;

  .validateBtn{
    margin-left: 32px;
  }
}

.cardNumber{
  width: 100%;
}

.cvv{
  width: 25%;
}

.expirationDateMonth{
  width: 25%;
}

.expirationDateYear{
  width: 25%;
  margin-left: 18px;
}

.expirationDateAndCVVContainer{
  display: flex;
}

.cardForm{
  padding: 0 32px;
}
