:host{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
}

.productCard{
  margin: 10px;
}

.paginatorContainer{
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.paginator{
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
