<div class="container">
  <app-product-card *ngFor="let productIterator of products; index as i"
                    routerLink="/products/{{productIterator.id}}"
                    class="productCard product{{i}}"
                    [productData] = productIterator>
  </app-product-card>
</div>

<div class="paginatorContainer">
  <app-paginator class="paginator" [pagination]="pagination"></app-paginator>
</div>
