<form class="loginForm" [formGroup]="logInForm" (ngSubmit)="onSubmit(logInForm)">

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput class="email" type="text" formControlName="email">
    <mat-error *ngIf="logInForm.controls.email.invalid">{{ displayEmailError() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Mot de passe</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" class="password">
    <mat-error *ngIf="logInForm.controls.password.invalid">{{ displayPasswordError() }}</mat-error>
    <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button color="primary" class="submit" type="submit" [disabled]="!logInForm.valid">Valider</button>

</form>
