:host{
  display: flex;
  justify-content: center;
  background-color: #f7f8f9;;
  height: 100vh;
}

.container{
  display: flex;
  position: relative;
  margin-top: 64px;
}

.basketElementsContainer{
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 12px;
  background-color: white;
  height: min-content;
}

.infoContainer{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.orderHistoryHeader{
  display: flex;
  justify-content: space-between;
  padding: 14px 16px;
  box-sizing: border-box;
}

.backToHistoryBtn{
  position: absolute;
  top: -40px;
}
