<div class="container" *ngIf="orderHistory">

  <div class="backToHistoryBtn" routerLink="/account/order/history">revenir à l'historique</div>

  <div class="basketElementsContainer">
    <div class="orderHistoryHeader">
      <div class="orderHistoryId"> {{ orderHistory.id }}</div>
      <div class="orderHistoryDate"> {{ orderHistory.date | date: 'fullDate' }}</div>
    </div>
    <app-basket-element *ngFor="let basketElement of orderHistory.order.basket.basketElements; index as i"
                        class="basketElement{{i}}"
                        [product]="basketElement.product"
                        [quantity]="basketElement.quantity"
                        [bulkPrice]="basketElement.bulkPrice"
                        [interactive]="false"
                        routerLink="/products/{{basketElement.product.id}}">
    </app-basket-element>
  </div>

  <div class="infoContainer">
    <app-order-summary-info class="summaryInfo"
                            [totalPrice]="orderHistory.order.basket.totalPrice"
                            [lastStep]="true">
    </app-order-summary-info>
    <app-order-addresses-info [deliveryAddress]="orderHistory.order.deliveryAddress"
                              [billingAddress]="orderHistory.order.billingAddress">
    </app-order-addresses-info>
  </div>

</div>
