.container{
  display: flex;
  align-items: center;
}

.pageSizeSelector{
  margin-left: 12px;
  width: 48px;
}

.pageIndicationLabel{
  margin: 0 32px;
}

.pageControlContainer{
  display: flex;
}

.previousPageBtn, .nextPageBtn{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;
  border-radius: 50%;

  background-color: transparent;
  border: none;

  &:hover {
    color: mediumseagreen;
  }

  &:focus {
    outline: none;
  }

  .previousPageIcon, .nextPageIcon{
    width: 32px;
    height: 32px;
  }
}
