<div *ngIf="pagination" class="container">
  <span>Elements par page:</span>

  <mat-form-field class="pageSizeSelector">
    <mat-select class="pageSizeSelectorValue" [value]="20" (valueChange)="updatePageSize($event)">
      <mat-option class="optionSize20" [value]="20">20</mat-option>
      <mat-option class="optionSize50" [value]="50">50</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="pageIndicationLabel">{{ firstPageIndication }} - {{ lastPageIndication }} sur {{pagination.totalCount}}</div>

  <div class="pageControlContainer">
    <button mat-ripple [disabled]="pagination.page <= 1" class="previousPageBtn" (click)="onPreviousPage()">
      <mat-icon class="previousPageIcon" svgIcon="arrowLeft"></mat-icon>
    </button>

    <button mat-ripple [disabled]="pagination.page >= pagination.pageCount" class="nextPageBtn" (click)="onNextPage()">
      <mat-icon class="nextPageIcon" svgIcon="arrowRight"></mat-icon>
    </button>
  </div>
</div>
