<mat-horizontal-stepper [linear]="false" class="stepper" [selectedIndex]="stepperService.index">

  <ng-template matStepperIcon="edit">
    <mat-icon>done</mat-icon>
  </ng-template>

  <mat-step [completed]="stepperService.completedTab[0]">
      <ng-template matStepLabel>Mon panier</ng-template>
  </mat-step>
  <mat-step *ngIf="showProfileStep" [completed]="stepperService.completedTab[1]">
    <ng-template matStepLabel>Mon profil</ng-template>
  </mat-step>
  <mat-step [completed]="stepperService.stepNumber === 3 ? stepperService.completedTab[1] : stepperService.completedTab[2]">
      <ng-template matStepLabel>Livraison</ng-template>
  </mat-step>
  <mat-step [completed]="stepperService.stepNumber === 3 ? stepperService.completedTab[2] : stepperService.completedTab[3]">
    <ng-template matStepLabel>Paiement</ng-template>
  </mat-step>
</mat-horizontal-stepper>

<router-outlet></router-outlet>
