.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.deliveryElement{
  margin: 18px 0;
  width: 100%;
  height: fit-content;
  display: flex;

  &.first{
    margin-top: 0;
  }
}

.addressElement{
  padding: 12px 50px;
  box-sizing: border-box;
  width: 100%;
}

.selected{
  display: flex;
  padding: 10px 32px;
  box-sizing: border-box;
  justify-content: space-between;
  border: 2px solid mediumseagreen;
  border-radius: 15px;
  margin: 0 16px;
}

.addressElementList{
  height: 250px;
}

.address{
  width: 100%;
}

.cityPostalCodeContainer{
  display: flex;
  justify-content: space-between;

  .postalCode{
    width: 35%;
  }

  .city{
    width: 60%;
  }
}

.buttonsContainer{
  display: flex;
  justify-content: flex-end;

  .validateBtn{
    margin-left: 32px;
  }
}
