<div class="container" *ngIf="showSelectAddress">
  <div>Sélectionner une adresse de {{ title }}</div>

  <cdk-virtual-scroll-viewport itemSize="50" class="addressElementList">
    <div class="deliveryElement" *cdkVirtualFor="let address of data.addresses; index as i; let first = first"
                                 [ngClass]="{ first : first}">
        <app-address-element matRipple class="addressElement"
                             (click)="setSelectedDeliveryAddress(i, address)"
                             [ngClass]="{ 'selected' : selectedAddress === i}"
                             [address]="address">
      </app-address-element>
    </div>
  </cdk-virtual-scroll-viewport>

  <div class="buttonsContainer">
    <button mat-button (click)="setShowSelectAddress()">Ajouter une addresse</button>
    <button mat-flat-button color="primary" class="validateBtn"
            [mat-dialog-close]="{address: selectedAddressValue, type: data.type, selectedAddress: selectedAddress, event: 'select'}">Valider
    </button>
  </div>

</div>

<ng-container *ngIf="!showSelectAddress">
  <form class="container" [formGroup]="deliveryAddressForm" (ngSubmit)="onAddAddress(deliveryAddressForm)">

    <span>Ajout d'une nouvelle addresse de {{ title }}</span>

    <div class="addressForm">
      <mat-form-field class="address" appearance="outline">
        <mat-label>Adresse</mat-label>
        <input matInput type="text" formControlName="address">
      </mat-form-field>

      <div class="cityPostalCodeContainer">
        <mat-form-field class="postalCode" appearance="outline">
          <mat-label>Code postal</mat-label>
          <input matInput type="text" formControlName="postalCode">
        </mat-form-field>

        <mat-form-field class="city" appearance="outline">
          <mat-label>Ville</mat-label>
          <input matInput type="text" formControlName="city">
        </mat-form-field>
      </div>
    </div>

    <div class="buttonsContainer">
      <button mat-button (click)="setShowSelectAddress()">Sélectionner une addresse</button>
      <button mat-flat-button color="primary" class="submit validateBtn" type="submit">Valider</button>
    </div>
  </form>
</ng-container>
