<div class="container">
  <div *ngIf="basket" class="basketElementsContainer">
    <app-basket-element *ngFor="let basketElement of basket.basketElements; index as i"
                        class="basketElement{{i}}"
                        [product]="basketElement.product"
                        [quantity]="basketElement.quantity"
                        [bulkPrice]="basketElement.bulkPrice"
                        routerLink="/products/{{basketElement.product.id}}">
    </app-basket-element>
  </div>

  <app-order-summary-info class="summaryInfo"
                          *ngIf="basket"
                          [totalPrice]="basket.totalPrice"
                          [lastStep]="false"
                          (continueProcess)="onNavigate()">
  </app-order-summary-info>
</div>
