:host{
  display: flex;
  justify-content: center;
  background-color: #f7f8f9;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  width: 80%;
}

.basketElementsContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: min-content;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 12px;
  background-color: white;
}

.summaryInfo{
  margin-left: 50px;
}
