.container {
  display: flex;
  flex-direction: column;
  width: 212px;
  margin-top: 24px;
  background-color: white;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
