<div class="container">
  <div>Livraison</div>
  <br>

  <div>Addresse de livraison</div>
  <app-address-element class="deliveryAddress" [address]="deliveryAddress"></app-address-element>
  <br>

  <div>Addresse de facturation</div>
  <app-address-element class="billingAddress" [address]="billingAddress"></app-address-element>
</div>



