<div class="container">
  <app-order-history-summary *ngFor="let orderHistory of orderHistories; index as i"
                             routerLink="/order/history/{{orderHistory.id}}"
                             [class]="'orderHistory' + i"
                             [orderId]="orderHistory.id"
                             [date]="orderHistory.date"
                             [totalPrice]="orderHistory.order.basket.totalPrice">
  </app-order-history-summary>
</div>
