.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 128px;
  background-color: white;
}

.leftContainer{
  display: flex;
  align-items: center;
}

.imageAndIdContainer{
    display: flex;
    flex-direction: column;
  }

.basketElementImage{
    width: 64px;
    height: 64px;
  }

.basketElementName{
    padding-left: 24px;
  }

.controlContainer{
    display: flex;
    width: 100px;
    justify-content: space-around;
    align-items: center;
  }

.minusBtn{
    background-color: transparent;
    border: none;

  &:hover{
    color: mediumseagreen;
  }
}

.plusBtn {
  background-color: transparent;
  border: none;

  &:hover {
    color: mediumseagreen;
  }
}

.clearBtn {
  background-color: transparent;
  border: none;

  &:hover {
    color: mediumseagreen;
  }
}

.priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

