<div *ngIf="product" class="container">

  <div class="leftContainer">

    <div class="imageAndIdContainer">
      <img class="basketElementImage"
         src='{{ product.imageUrl }}'
         alt="Image not found"
         onerror="this.onerror=null; this.src='assets/images/potaras.png';">
      <span class="basketElementId">ref: {{ product.id }}</span>
    </div>

    <span class="basketElementName">{{ product.name }}</span>
  </div>

  <div *ngIf="interactive" class="controlContainer">
    <button class="minusBtn" (click)="removeProduct($event)">
        <mat-icon class="minusBtnIcon" svgIcon="remove"></mat-icon>
    </button>

    <div class="basketElementQuantity">{{ quantity }}</div>

    <button class="plusBtn" (click)="addProduct($event)">
      <mat-icon class="plusBtnIcon" svgIcon="add"></mat-icon>
    </button>
  </div>

  <div *ngIf="!interactive" class="controlContainer">
    <div>Quantity</div>
    <div class="basketElementQuantity">{{ quantity }}</div>
  </div>

  <div class="priceContainer">
    <span class="bulkPrice">{{ bulkPrice | currency:'EUR' : 'symbol' :'1.2-2' }}</span>
    <span class="unitPrice"> Prix unitaire: {{ product.price | currency:'EUR' : 'symbol' :'1.2-2' }}</span>
  </div>

  <button *ngIf="interactive"
          class="clearBtn" (click)="clearProduct($event)">
    <mat-icon class="clearIcon" svgIcon="clear"></mat-icon>
  </button>
</div>
