:host{
  display: flex;
  justify-content: center;
  background-color: #f7f8f9;;
  height: 100vh;
}

.container{
  display: flex;
  width: 600px;
  justify-content: center;
  margin-top: 64px;
}

.accountContainer{
  display: flex;
  align-items: center;
}

.profileFirstNameFormField{
  margin-right: 24px;
}

.emailNameFormField{
  width: 100%;
}
