<div class="container">

  <div *ngIf="(accountService.currentUser$ | async) !== null">

    <form class="signUpForm" [formGroup]="profileForm">
      <div class="nameContainer">
      <mat-form-field class="profileFirstNameFormField" appearance="outline" [floatLabel]="'always'">
        <mat-label>Prénom</mat-label>
        <input matInput class="profileFirstName" type="text" formControlName="firstName">
        <mat-error *ngIf="profileForm.controls.firstName.invalid">{{ displayNameError()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="'always'">
        <mat-label>Nom</mat-label>
        <input matInput class="profileLastName" type="text" formControlName="lastName">
        <mat-error *ngIf="profileForm.controls.lastName.invalid">{{ displayNameError()}}</mat-error>
      </mat-form-field>
      </div>

      <mat-form-field class="emailNameFormField" appearance="outline" [floatLabel]="'always'">
        <mat-label>Email</mat-label>
        <input matInput class="profileEmail" type="text" formControlName="email">
        <mat-error *ngIf="profileForm.controls.email.invalid">{{ displayEmailError()}}</mat-error>
      </mat-form-field>
    </form>

  </div>
</div>
