<div class="container">
  <div class="orderId">{{ orderId }}</div>
  <div class="date">{{ date | date: 'fullDate'}}</div>
  <div class="totalPrice">{{ totalPrice / 100 | currency:'EUR' : 'symbol' :'1.2-2' }}</div>
</div>
