<div class="container">

  <div class="cardSectionContainer">

    <div class="cardElementListContainer">

      <div class="cardElementListHeader">
        <mat-icon class="cardElementListIcon" svgIcon="creditCard"></mat-icon>
        <span class="cardElementListTitle">Carte de crédit</span>
      </div>

      <div class="cardContainer" (click)="openDialog()">
        <app-registered-card *ngIf="selectedCardValue" class="registeredCard" [card]="selectedCardValue"></app-registered-card>
        <button mat-button color="primary" (click)="openDialog()">Modifier</button>
      </div>

      <div class="payBtn" (click)="pay()">
       <button mat-flat-button color="primary" class="validateBtn">Payer</button>
      </div>
    </div>
  </div>

  <div class="infoContainer">
    <app-order-summary-info class="summaryInfo" *ngIf="basket" [totalPrice]="basket.totalPrice"
                            [lastStep]="true">
    </app-order-summary-info>

    <app-order-addresses-info [deliveryAddress]="deliveryAddress" [billingAddress]="billingAddress"></app-order-addresses-info>
  </div>
</div>
