:host {
    display: flex;
    justify-content: center;
    background-color: #f7f8f9;
    height: 100vh;
}

.container {
  display: flex;
}

.cardSectionContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cardForm {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 24px;
    background-color: white;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);

    .expirationDateAndCVVContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .date {
            display: flex;
            justify-content: flex-start;
            width: calc(65% - 5px);

            .expirationDateMonth {
                width: 40%;
            }

            .expirationDateYear {
                width: 40%;
                margin-left: 8px;
            }
        }

        .cvv {
            width: 25%;
        }
    }

    .saveCard {
        color: white;
    }
}

.cardElementListContainer{
  height: fit-content;
  //width: 60%;
  width: 600px;
  background-color: white;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

.cardElementList {
  height: 150px;
  padding-bottom: 14px;

  .cardElement {
    display: flex;
    justify-content: space-around;
    padding-top: 24px;
  }
}

.cardElementListHeader{
  display: flex;
  align-items: center;
  padding: 14px 0;

  .cardElementListIcon{
    padding: 0 16px;
  }
}

.infoContainer{
  display: flex;
  flex-direction: column;
  margin-left: 50px;

  .summaryInfo{
    width: min-content;
  }
}

.cardContainer{
  display: flex;
  padding: 12px 32px;
  box-sizing: border-box;
  justify-content: space-between;
  border: 2px solid mediumseagreen;
  border-radius: 15px;
  margin: 0 16px;
  align-items: center;
}

.payBtn{
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;

  .validateBtn{
    margin: 14px 0;
  }
}
