.controlContainer{
  display: flex;
  width: 100px;
  justify-content: space-around;
}

.imageAndIdContainer{
  display: flex;
  flex-direction: column;
}

.basketElementImage{
  height: 128px;
  width: 128px;
  margin-top: 24px;
  margin-bottom: 18px;
}

.productFocusMinus{
  background-color: transparent;
  border: none;

  &:hover{
    color: mediumseagreen;
  }
}

.productFocusPlus{
  background-color: transparent;
  border: none;

  &:hover{
    color: mediumseagreen;
  }
}

.quantityContainer{
  display: flex;
  flex-direction: column;
}

.totalPriceContainer{
  display: flex;
  flex-direction: column;
}

.footerContainer{
  padding-left: 70px;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 80px;
  align-items: center;
}

.container{
  height: 350px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}

:host{
  display: flex;
  justify-content: center;
}

.productFocusName{
  margin-left: 64px;
  margin-top: 32px;
}

.imageAndIdContainer{
  margin-left: 64px;
}

.plusBtnIcon, .minusBtnIcon{
  fill: mediumseagreen;
}

.bodyContainer{
  display: flex;
}

.totalPriceContainer{
  margin: 0 64px;
}

.productFocusAddButton{
  height: min-content;
}
