<div *ngIf="product !== undefined" class="container">
  <div class="productFocusName">{{ product.name }}</div>

  <div class="bodyContainer">
    <div class="imageAndIdContainer">
      <img class="basketElementImage"
           src='{{ product.imageUrl }}'
           alt="Image not found"
           onerror="this.onerror=null; this.src='assets/images/potaras.png';">
      <span class="productFocusId">ref: {{ product.id }}</span>
    </div>

    <div class="productFocusDescription">{{ product.description }}</div>
  </div>

  <div class="footerContainer">
    <div class="quantityContainer">
      <span>Quantity: </span>
        <div class="controlContainer">
          <button class="productFocusMinus" [disabled]="quantity == 1" (click)="removeProduct()">
            <mat-icon class="minusBtnIcon" svgIcon="remove"></mat-icon>
          </button>

          <div class="productFocusQuantity">{{ quantity }}</div>

          <button class="productFocusPlus" (click)="addProduct()">
            <mat-icon class="plusBtnIcon" svgIcon="add"></mat-icon>
          </button>
      </div>
    </div>

    <div class="totalPriceContainer">
      <span>Total: </span>
      <span class="productFocusTotalPrice">{{ totalPrice | currency:'EUR' : 'symbol' :'1.2-2' }}</span>
    </div>

      <button mat-flat-button color="primary" class="productFocusAddButton" (click)="addToBasket()">Ajouter</button>
  </div>
</div>

<div *ngIf="productNotFound" class="productNotFoundMessage">Le produit n'est pas disponible</div>
