<form class="signUpForm" [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">

  <div class="fullNameContainer">
    <mat-form-field class="firstNameFormField" appearance="outline">
      <mat-label>Prénom</mat-label>
      <input matInput class="firstName" type="text" formControlName="firstName">
      <mat-error *ngIf="signUpForm.controls.firstName.invalid">{{ displayNameError()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput class="lastName" type="text" formControlName="lastName">
      <mat-error *ngIf="signUpForm.controls.lastName.invalid">{{ displayNameError()}}</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput class="email" type="text" formControlName="email">
    <mat-error *ngIf="signUpForm.controls.email.invalid">{{ displayEmailError()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Mot de passe</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" class="password">
    <mat-error *ngIf="signUpForm.controls.password.invalid">{{ displayPasswordError()}}</mat-error>
    <button mat-icon-button type="button" matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Confirmez le mot de passe</mat-label>
    <input matInput [type]="hidePasswordConfirmation ? 'password' : 'text'" formControlName="passwordConfirmation" class="passwordConfirmation">
    <mat-error *ngIf="signUpForm.controls.passwordConfirmation.invalid">{{ displayPasswordConfirmationError()}}</mat-error>
    <button mat-icon-button type="button" matSuffix (click)="hidePasswordConfirmation = !hidePasswordConfirmation" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordConfirmation">
      <mat-icon>{{hidePasswordConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button class="submit" type="submit" [disabled]="!signUpForm.valid">Valider</button>

</form>

<div *ngIf="showError" class="signUpErrorMessage">Un compte est déjà lié à cette adresse mail.</div>
