<ng-container *ngIf="address" >
  <div class="address">{{ address.address }}</div>
  <div class="city">{{ address.city }}</div>
  <div class="postalCode">{{ address.postalCode }}</div>
</ng-container>
